@using Microsoft.Extensions.Logging
@inject ILogger<Create> Logger
@inject ISidepanelService Sidepanel

<EditForm Model="@starship" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label class="form-label">Identifier</label>
        <InputText class="form-control" @bind-Value="starship.Identifier" />
    </div>
    <div class="mb-3">
        <label class="form-label">Description </label>
        <InputTextArea class="form-control" rows="3" @bind-Value="starship.Description" />
    </div>

    <div class="mb-3">
        <label class="form-label">Primary Classification</label>
        <InputSelect @bind-Value="starship.Classification" class="form-control">
            <option value="">Select classification ...</option>
            <option value="Exploration">Exploration</option>
            <option value="Diplomacy">Diplomacy</option>
            <option value="Defense">Defense</option>
        </InputSelect>
    </div>
    <div class="mb-3">
        <label class="form-label">Maximum Accommodation</label>
        <InputNumber class="form-control" @bind-Value="starship.MaximumAccommodation" />
    </div>
    <div class="form-check mb-3">
        <InputCheckbox class="form-check-input" id="@nameof(starship.IsValidatedDesign)" @bind-Value="starship.IsValidatedDesign" />
        <label class="form-check-label" for="@nameof(starship.IsValidatedDesign)">Engineering Approval</label>
    </div>

    <div class="mb-3">
        <label class="form-label">Production Date</label>
        <InputDate class="form-control" @bind-Value="starship.ProductionDate" />
    </div>

    <div class="d-grid gap-2">
        <button class="btn btn-outline-primary" type="submit">Create</button>
        <button class="btn btn-outline-secondary" type="reset">Reset</button>
        <button class="btn btn-outline-danger" type="button" @onclick="Sidepanel.SoftClose">Cancel</button>
    </div>


</EditForm>

@code {
    private Starship starship = new() { ProductionDate = DateTime.UtcNow };

    private void HandleValidSubmit()
    {
        Logger.LogInformation("HandleValidSubmit called");
        // Process the valid form
    }
}