@page "/"
@inject ISidepanelService Sidepanel

<h1>Sidepanel Basic</h1>

<h2>Open Counter</h2>
<button @onclick="OpenCounter">Open Counter</button>
<button @onclick="Close">Close</button>

<hr />

<h2>Open Fetch Data</h2>
<button @onclick="OpenFetchData">Open Fetch Data</button>
<button @onclick="Close">Close</button>

<hr />


@code {
	private void OpenCounter()
	{
		Sidepanel.Open<Counter>("Counter", "example");
	}

	private void OpenFetchData()
	{
		Sidepanel.Open<FetchData>("Fetchdata");
	}

	private void Close()
	{
		Sidepanel.Close();
	}
}

