@page "/"
@inject ISidepanelService Sidepanel
<PageTitle>Sidepanel - Basic</PageTitle>

<h1>Sidepanel Basic</h1>

<h2>Open Counter</h2>
<button @onclick="OpenCounter">Open Counter</button>
<button @onclick="Close">Close</button>

<Codeblock Code="@codeblock1"/>

<hr />

<h2>Open Fetch Data</h2>

<button @onclick="OpenFetchData">Open Fetch Data</button>
<button @onclick="Close">Close</button>
<Codeblock Code="@codeblock2"/>

<hr />

<p><small>If you rather use a component which renders the inner component using a <code>RenderFragment</code>, see the <a href="component">Component Section</a></small>.</p>
@code {
	private string codeblock1 => "Sidepanel.Open<Counter>(\"Counter\", \"example\");\nSidepanel.Close();";
	private string codeblock2 => "Sidepanel.Open<FetchData>(\"FetchData\");\nSidepanel.Close();";
    private string codeblock3 => "<SidepanelComponent Title=\"SidepanelComponent Title\" @ref=\"sidepanel\">\n\t<div>This is a Test</div>\n</SidepanelComponent>\n";
    private string codeblock4 => "private void OpenComponent()\n{\n    sidepanel.Open();\n}";

    private SidepanelComponent sidepanel;

	private void OpenCounter()
	{
		Sidepanel.Open<Counter>("Counter", "example");
	}

	private void OpenFetchData()
	{
		Sidepanel.Open<FetchData>("Fetchdata");
	}

	private void Close()
	{
		Sidepanel.Close();
	}

    private void OpenComponent()
    {
        sidepanel.Open();
    }

    private void CloseComponent()
    {
        sidepanel.Close();
    }
}

